main {
	margin: auto;
	width: 30%;
	border: 3px solid green;
	padding: 10px;
}

.instruction {
	text-align: center;
}

.drums {
	display: none;
}

.playButtons > button,
.record {
	cursor: pointer;
	text-decoration: none;
	border: 0;
	font-size: 1.2rem;
	margin-top: 0.5rem;
	margin-bottom: 0.3rem;
}

.active {
	background-color: red;
}

.record:hover,
.playButtons > button:hover {
	background-color: gray;
}

.active:hover {
	background-color: darkred;
}

.instructionNumber {
	background-color: lightgrey;
	color: black;
	border: 2px black solid;
	font-size: 1.5rem;
	padding: 0.2rem;
}
