body {
	margin: 10;
	background-color: aquamarine;
}

#canvas-background {
	background-color: burlywood;
}

.canvas {
	position: absolute;
	border: 4px dotted blue;
}

#menu {
	width: 100%;
	height: 100px;
}
